* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(0,0,0) url(images/apples.jpg) fixed no-repeat center top;
  background-size: 100%;
  color: rgb(20,20,20);
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

.all {
  width: 1000px;
  overflow: hidden;
  background-color:rgb(255,255,255);
}

/*top*/

.panel {
  display: block;
  float: left;
  padding: 10px 0;
  background-color: rgb(0,0,0);
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.enter-block {
  float: right;
  padding-left: 300px;
  margin: 10px 50px 0 0;
  color: rgb(180,200,220);
}

.menu {
  float: right;
  margin-right: 250px;
  margin-top: 30px; 
  font-size: 17px;
}

.menu li {
  display: block; 
  height: 30px;
  background-color: rgb(38,38,38);
  font-weight: bold;
}

.menu>li {
  float: left;
  padding: 5px 0;
  width: 110px;
  border-right: 1px solid rgb(0,0,0);
  text-align: center;
}

.menu>li a {
  display: block;
  width: 100%;
  height: 100%; 
}

.menu ul {
  padding: 0;
  position: relative;
  top:  15px;
  visibility: hidden;
  display: block;
  transition: 1s 0s;
  opacity: 0;
}

.menu>li:hover>ul {
  visibility: visible;
  transition: 1s 0s;
  opacity: 1;
}

.menu li:first-child::after{
  content: ''; 
  position: absolute; 
  top: -10px;
  left: 30px; 
  border: 5px solid transparent; 
  border-bottom: 5px solid rgb(30,30,30); 
}

.menu ul>li {
  padding: 5px 0 5px 5px;
  border-bottom: 1px solid rgb(0,0,0);
  text-align: left;
  width: 150px;
}

.menu ul>li:last-child {
  border-bottom: none;
}

/*first part of content: picture with header*/

.content>* {
  margin: 30px 50px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

/*second: pic and 2 columns*/

.starks {
  width: 100%;
  padding-top: 30px;
  overflow: hidden;
}

.column {
  margin-top: 30px;
  float: left;
  height: 150px;
  width: 280px;
}

/*third: 3 columns*/

.blue-block {
  float: left;
  padding: 10px;
  background-color: rgb(235,245,255);
  width: 260px;
  height: 120px;
} 

.blue-block p {
  height: 90px;
}

.blue-block:hover h3 {
  color: rgb(100,150,175);
}

/*4th: column and 3 images*/

  .selling {
  overflow: hidden;
}

.column2 {
  width: 200px;
}

.discription {
  margin-right: 18px;
  float: left;
}

.together {
  float: left;
  margin-left: 20px;
  width: 206px;
  text-align:  center;
}

/*bottom*/

.basement {
  display: block;
  float: left;
  overflow: hidden;
  background-color: rgb(0,0,0);
  color: rgb(80,80,80);
  width: 100%;
  padding: 30px 0;
}

/* links */

.goto {
  font-size: 16px;
  color: rgb(80,130,155);
  text-decoration: none;
}

.goto:hover {
  color: rgb(20,20,20);
}

.enter-block a {
  color: rgb(180,200,220); 
  text-decoration: none;
}

.enter-block a:hover {
  color:rgb(255,255,255);
}

.link {
  text-decoration: none;
  color: rgb(80,120,140);
}

.link:hover {
  text-decoration: underline;
} 

.menu li a{
  text-decoration: none;
  color: rgb(180,200,220);
}

.menu li:hover>a {
  color: rgb(255,255,255);
}

.menu ul>li:hover {
  background-color: rgb(60,60,60);
} 

.menu li:first-child:hover::after{
  border-bottom: 5px solid rgb(60,60,60);
}
 
/* images */

.img {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 15px;
  background-color: black;
  margin-right: 5px;
}

.logo {
  float: left;
  margin: 10px 50px;
  width: 140px;
  height: 165px;
  background-image: url(images/logo.jpg);
  background-size: cover;
}

.image {
  background-image: url(images/company.jpg);
  float: left;
  border: 3px solid rgb(180,200,220);
  background-size: cover;
  height: 200px;
  width: 280px;
}

.pic {
  width: 200px;
  height: 150px;
  border: 3px solid rgb(180,200,220);
  background-size: cover;
  background-position: center center;
  border-radius:  20px;
}

.pic1 {
  background-image:url(images/apple.jpg); 
}

.pic2 {
  background-image:url(images/rye.jpg); 
}

.pic3 {
  background-image:url(images/berries.jpeg); 
}

/* properties */

.bordered {
  padding-top: 20px 0;
  border-top: 1px solid rgb(30,30,30);
  overflow: hidden; 
}

.colored {
  color: rgb(180,200,220);
}

.move-top {
  margin-top: -30px;
}

.move-bottom {
  margin-top: 20px;
}

.cursive {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.move-right {
  margin-right: 30px;
}

.centering {
  padding-left: 50%;
}

.centered {
  margin-left: -500px;
}

.loong {
  width: 586px;
}

.button {
  border-width: 0px;
  padding: 3px;
  text-transform: uppercase;
  background-color:rgb(200,220,240);
}

.button:hover {
  color: rgb(255,255,255);
  background-color: rgb(100,150,175);
}

/*headers*/

h1,h2,h3,h4,h5 {
  font-family: 'Ledger', serif;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

h2 {	
  float: left;
  font-size: 14px;
  padding: 2px;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  float: left; 
  font-size: 20px;
  padding: 5px;
  margin-top: -5px;
  width: 210px;
}

h4 {
  font-size: 15px;
  font-weight: normal;
}

h5 {
  font-size: 30px;
  color: rgb(200,220,240);
  float: left;
  font-weight: normal;
}

.company {
  padding-top: 10px;
  text-align: justify;
}

#product {
  text-align: center;
}